{% extends 'main/base.html' %}
{% load static %}
{% block title %}Apie{% endblock title %}

{% block main-content %}
<div class="container mt-3">
  <br>
  <h2 class="text-center">Apie mus</h2>
  <br>
  <p class="fs-4 text-center">"SKEFN" savo klientams siūlo plačią batų valiklių pasirinkimą,
    atitinkančių įvairių rūšių batų poreikius. Nepriklausomai nuo to, ar tai sportiniai bateliai,
    kasdieninė avalynė ar elegantiški aukštakulniai, "SKENF" turi viską, ko jums gali prireikti.
    Jų kolekcijoje rasite išskirtinių modelių ir spalvų, taip pat ir specializuotų produktų,
    pritaikytų skirtingiems medžiagų tipams.</p>
</div>
{% endblock main-content %}