{% extends 'main/base.html' %}
{% load static %}
{% block title %}Slaptažodis_change_done{% endblock title %}
{% block main-content %}
<div class="container mv-5">
    <div class="row">
    <h3>{{request.user.username|capfirst}}</h3>
        <div class= 'col-sm-2 border-end'>
            <ul class="list-unstyled">
               <li class="d-grid">
                  <a href="#" class= "btn btn-primary">Slaptažodis pakeistas</a>
               </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Slaptažodis pakeistas!</h3>
        </div>
    </div>
</div>
{% endblock main-content %}